{{ attach_library('opt_theme/global-styles') }}
{{ attach_library('opt_theme/page-institutionnelle') }}

{% set term_label = node.field_liste.entity ? node.field_liste.entity.label : null %}
{% set has_media  = content.field_image is not empty %}

<article{{ attributes.addClass('page-institutionnelle', has_media ? 'has-media' : 'no-media') }}>
  <header class="pi-hero">
  <div class="layout-container pi-hero__container">
    <div class="pi-hero__titlebar">
      <h1 class="pi-hero__title">{{ label }}</h1>
    </div>
    {% if has_media %}
      <figure class="pi-hero__figure">{{ content.field_image }}</figure>
    {% endif %}
  </div>
</header>


  {# Contenu #}
  {% if content.field_blocs_de_contenu %}
  <section class="pi-content">
    <div class="prose">
      {{ content.field_blocs_de_contenu }}
    </div>
  </section>
{% endif %}

</article>
